# 잡다한 파일
*.class
*.log
*.pyc
*.swp
*.txt
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ 관련
*.iml
*.ipr
*.iws
.idea/

# IntelliJ/Android Studio 프로젝트 파일
.idea/

# Flutter 플랫폼 폴더
android/
ios/

# 디버그 모드에서 생성되는 파일
*.iml
*.lock
*.log
*.ids
*.metadata
*.flutter-plugins
*.flutter-plugins-dependencies
*.dart_tools/
*.flutter-plugins-dependencies/

# .vscode 폴더에는 VS Code에서 구성한 런치 설정 및 태스크가 포함되어 있습니다.
# 이 줄은 기본적으로 주석 처리되어 있습니다.
#.vscode/

# Flutter/Dart/Pub 관련
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication 관련
app.*.symbols

# 난독화 관련
app.*.map.json

# Android Studio가 빌드 아티팩트를 여기에 배치합니다.
/android/app/debug
/android/app/profile
/android/app/release

# Node.js에서 사용되는 node_modules 폴더
node_modules/
