<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB7HGfYkTKrM2yoj2hT1oZm6y8jhIlPX8c</string>
	<key>GCM_SENDER_ID</key>
	<string>248259965172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.curaHealth</string>
	<key>PROJECT_ID</key>
	<string>cura-health-aabdb</string>
	<key>STORAGE_BUCKET</key>
	<string>cura-health-aabdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:248259965172:ios:219f50f58800e965146ea1</string>
</dict>
</plist>